Repository cerform/shadow-weave-character-sheet: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, vitest related --run --reporter=verbose, vitest --run --reporter=verbose

Add tests for React Error #185 diagnostics
  src/__tests__/react185.diagnose.test.tsx
Due: eslint --fix, vitest related --run --reporter=verbose, vitest --run --reporter=verbose

fix: restore supabase config
  .env
  .gitignore
  vercel.json
Due: none

fix: dependency resolution for vercel
  .npmrc
Due: none

fix: incorrect nodemon version
  backend/package.json
Due: none

fix: finalize supabase migration for production
  backend/package-lock.json
  package-lock.json
  package.json
  public/assets/ammo/ammo.wasm.wasm
  public/assets/themes/default/default.json
  public/assets/themes/default/diffuse-dark.png
  public/assets/themes/default/diffuse-light.png
  public/assets/themes/default/normal.png
  public/assets/themes/default/specular.jpg
  public/assets/themes/default/theme.config.json
  src/integrations/supabase/client.ts
  src/utils/googleAuth.ts
  vite.config.ts
Due: eslint --fix, vitest related --run --reporter=verbose

feat: complete VTT infrastructure and glassmorphism UI
  backend/package-lock.json
  backend/package.json
  backend/server.js
  docs/agents/ai-dm-engineer.md
  docs/agents/backend-architect.md
  docs/agents/character-system-engineer.md
  docs/agents/devops-engineer.md
  docs/agents/fog-of-war-engineer.md
  docs/agents/frontend-architect.md
  docs/agents/game-logic-engineer.md
  docs/agents/map-token-engineer.md
  docs/agents/master-orchestrator.md
  docs/agents/qa-engineer.md
  docs/agents/realtime-engineer.md
  docs/agents/security-engineer.md
  docs/agents/session-manager.md
  docs/agents/webrtc-engineer.md
  src/components/battle/BattleMapUI/hooks/useBattleTokens.ts
  src/components/vtt/VTTLayout.tsx
  src/components/vtt/panels/ActionToolbar.tsx
  src/components/vtt/panels/CharacterSidebar.tsx
  src/components/vtt/panels/GameLog.tsx
  src/components/vtt/panels/PlayerList.tsx
  src/hooks/useBattleTokensSync.ts
  src/pages/VTTBattlePage.tsx
  src/services/socket.ts
Due: eslint --fix, vitest related --run --reporter=verbose

debug: add diagnostic logs for supabase config
  src/integrations/supabase/client.ts
Due: eslint --fix, vitest related --run --reporter=verbose

fix: add failsafe UI for missing supabase config
  src/main.tsx
Due: eslint --fix, vitest related --run --reporter=verbose

fix: railway deployment - use npm, update lockfile, fix AI manager
  backend/.npmrc
  backend/package-lock.json
  backend/railway.json
  backend/server.js
  backend/services/aiManager.js
Due: none

feat: VTTBattlePage unified, socket fix, CreateSession wizard, NPC voices, join session dual-sync
  backend/package.json
  docs/agents/master-orchestrator.md
  src/AppRoutes.tsx
  src/components/auth/SupabaseAuthForm.tsx
  src/components/battle/BattleMapUI/BattleMapUI.tsx
  src/components/battle/BattleMapUI/core/BattleController.ts
  src/components/battle/BattleMapUI/hooks/useBattleController.ts
  src/components/battle/BattleMapUI/map/BattleMap2D.tsx
  src/components/battle/BattleMapUI/map/TokenLayer.tsx
  src/components/battle/BattleMapUI/sidebars/AIGenerator.tsx
  src/components/battle/BattleMapUI/sidebars/LeftSidebar.tsx
  src/components/battle/BattleMapUI/sidebars/RightSidebar.tsx
  src/components/battle/NPCVoicePanel.tsx
  src/components/battle/TokenRadialMenu.tsx
  src/pages/CreateSessionPage.tsx
  src/pages/DMDashboardPageNew.tsx
  src/pages/JoinSessionPage.tsx
  src/pages/VTTBattlePage.tsx
  src/services/socket.ts
Due: eslint --fix, vitest related --run --reporter=verbose

fix: force npm via nixpacks.toml, bypass bun.lockb detection for Railway backend deploy
  nixpacks.toml
Due: none

fix: switch to PKCE flow and improve Google Auth robustness
  src/components/auth/SupabaseAuthForm.tsx
  src/contexts/SupabaseAuthContext.tsx
  src/integrations/supabase/client.ts
Due: eslint --fix, vitest related --run --reporter=verbose

fix: explicitly exchange PKCE code - handle ?code= callback from Google OAuth
  src/contexts/SupabaseAuthContext.tsx
Due: eslint --fix, vitest related --run --reporter=verbose

feat: add /api/log serverless function + RemoteLogger for Vercel Function Logs
  api/log.ts
  src/contexts/SupabaseAuthContext.tsx
  src/services/RemoteLogger.ts
  vercel.json
Due: eslint --fix, vitest related --run --reporter=verbose

fix: restore experimentalServices in vercel.json
  vercel.json
Due: none

feat: AI DM architecture phase 1 - DB schema, Orchestrator, Campaign Init, Image Gen edges + AIDMService frontend facade
  src/pages/CreateSessionPage.tsx
  src/services/ai/AIDMService.ts
  supabase/functions/ai-campaign-init/index.ts
  supabase/functions/ai-dm-orchestrator/index.ts
  supabase/functions/ai-image-generator/index.ts
  supabase/migrations/20260427_ai_dm_system.sql
Due: eslint --fix, vitest related --run --reporter=verbose

fix: restore missing icon imports in DM Dashboard causing crash
  src/pages/DMDashboardPageNew.tsx
Due: eslint --fix, vitest related --run --reporter=verbose

fix: add missing isDiceModalOpen state in VTTBattlePage
  src/pages/VTTBattlePage.tsx
Due: eslint --fix, vitest related --run --reporter=verbose

feat: improve dice widget and link it to session combat log, removed redundant dice bar
  src/components/character-sheet/PlayerDicePanel.tsx
  src/components/dice/DiceDrawer.tsx
  src/pages/VTTBattlePage.tsx
Due: eslint --fix, vitest related --run --reporter=verbose

Stabilization: Fixed WebSocket errors, VTT initialization hangs, and unified dice logic. Migrated spells to Supabase.
  .gitignore
  api/log.ts
  docs/agents/STABILIZATION_RECOVERY_REPORT.md
  package-lock.json
  package.json
  src/components/battle/BattleMapUI/sidebars/AIGenerator.tsx
  src/components/battle/ui/AttackDialog.tsx
  src/hooks/useBattleTokensSync.ts
  src/pages/CreateSessionPage.tsx
  src/pages/VTTBattlePage.tsx
  src/services/ai/AIDMService.ts
  src/services/combatEngineService.ts
  src/services/diceService.ts
  src/services/socket.ts
  src/services/spellService.ts
  src/services/websocketService.ts
  src/stores/battleStore.ts
  src/stores/enhancedBattleStore.ts
  src/types/combat.ts
  src/vtt/hooks/useVTT.ts
  supabase/config.toml
  supabase/functions/ai-dm-orchestrator/index.ts
  supabase/migrations/20260428_fix_ai_policies.sql
Due: eslint --fix, vitest related --run --reporter=verbose

fix: stabilize VTT production build, optimize chunks and fix missing imports
  docs/agents/STABILIZATION_RECOVERY_REPORT.md
  src/App.tsx
  src/components/battle/BattleMapUI/core/BattleController.ts
  src/components/battle/BattleMapUI/sidebars/AIGenerator.tsx
  src/components/battle/BattleSystem.tsx
  src/components/battle/ModernDMDashboard.tsx
  src/components/battle/NPCVoicePanel.tsx
  src/components/battle/PlayersList.tsx
  src/components/battle/ui/AttackDialog.tsx
  src/contexts/SessionContext.tsx
  src/contexts/SocketContext.tsx
  src/contexts/SpellbookContext.tsx
  src/hooks/useBattleEntitySync.ts
  src/hooks/useBattleMapSync.ts
  src/hooks/useBattleTokensSync.ts
  src/hooks/useDamageLog.ts
  src/hooks/useFogSync.ts
  src/hooks/useSessionSync.ts
  src/lib/realtime.ts
  src/lib/supabase.ts
  src/main.tsx
  src/pages/CreateSessionPage.tsx
  src/pages/DMSessionPage.tsx
  src/pages/VTTBattlePage.tsx
  src/services/RealtimeService.ts
  src/services/ai/AIDMService.ts
  src/services/combatEngineService.ts
  src/services/socket.ts
  src/stores/battleStore.ts
  src/stores/unifiedBattleStore.ts
  src/stores/worldStore.ts
  src/utils/idGenerator.ts
  src/vtt/engine/VTTCore.ts
  src/vtt/engine/WebGLRenderer.ts
  src/vtt/hooks/useVTT.ts
  supabase/functions/ai-campaign-init/index.ts
  supabase/functions/ai-dm-orchestrator/index.ts
  vite.config.ts
Due: eslint --fix, vitest related --run --reporter=verbose

fix: restore missing socketService import in VTTBattlePage
  src/pages/VTTBattlePage.tsx
Due: eslint --fix, vitest related --run --reporter=verbose

fix: switch all ID generation to standard UUID for Supabase compatibility
  scratch/check_supabase.js
  src/components/ErrorBoundary.tsx
  src/utils/idGenerator.ts
Due: eslint --fix, vitest related --run --reporter=verbose

debug: add detailed supabase error logging for session fetch
  src/pages/VTTBattlePage.tsx
Due: eslint --fix, vitest related --run --reporter=verbose

fix: update AI models to stable claude-3-5-sonnet-20240620
  supabase/functions/ai-campaign-init/index.ts
  supabase/functions/ai-dm-orchestrator/index.ts
Due: eslint --fix, vitest related --run --reporter=verbose

fix: use claude-3-5-sonnet-latest for maximum compatibility
  supabase/functions/ai-campaign-init/index.ts
  supabase/functions/ai-dm-orchestrator/index.ts
Due: eslint --fix, vitest related --run --reporter=verbose

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  vitest related --run --reporter=verbose: any of: *.{ts,tsx}
  vitest --run --reporter=verbose: any of: src/**/__tests__/**/*.{ts,tsx}
